* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
}

.navBar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color:transparent;

}

.logo__text p {
    font-size: 2rem;
    font-weight: 650;
    letter-spacing: 0.1rem;
    color:black;
}

.logo__text span {
    color: #8972ec;
}

.navBar__menu {
    display: flex;
    justify-content: space-between;
    gap: 3rem; /* Adjust gap as needed */
    color:#666666 ;
}

.navBar__menu a {
    text-decoration: none;
    font-size: 1rem;
    font-weight:450;
    
}

.navBar__Login button {
    background: transparent;
    border: 2px solid #949494;
    border-radius: 26px;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 14px 26px;
    color: black;
    cursor: pointer;
}

